/* main page settings: header, body, etc. */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #141414
}

header {
    margin: auto;
    display: flex;
    max-height: 10vh;
    width: 100%;
    align-items: center;
    background: linear-gradient(to left, #00000000, #fc2c2c);
}

button {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.logo-container, .nav-links {
    display: flex;
}

.logo-container {
    font-size: 2vh;
    font-weight: 600;
    max-width: 50px;
    max-height: auto;
    flex: 1;
    align-items: center;
    color: white;
}


nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;  
}

.nav-link {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

/* end of main page settings */

/* Home */

.presentation {
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    font-size: 25px;
    color: white;
    flex: 1;
    display: flex;
}

.presentation h1 {
    margin-top: 50px;
    margin-left: 25px;
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(to top, #691d1d, #fc2c2c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    animation: drop 1s ease;
}


.presentation p {
    margin-top: 25px;
    margin-left: 25px;
    font-weight: 300;
    background: linear-gradient(to top, #cacaca, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: drop 1s ease 1s;
    animation-fill-mode: backwards;
}

.intro-text {
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta button {
    cursor: pointer;
}

.ctaread {
    width: 150px;
    height: 50px;
    font-size: 15px;
    flex: 1;
    color: #fc2c2c;
    background:transparent;
    border: 2px solid #fc2c2c;
    border-radius: 5px;
    animation: drop 1.5s ease 2.4s;
    animation-fill-mode: backwards;
    transition: 0.5s;
}

.ctaread:hover {
    color: #141414;
    background:#fc2c2c;
    border-color: transparent;
}

.ctaselect {
    margin: 20px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    flex: 1;
    color: #141414;
    background:#fc2c2c;
    border-color: transparent;
    border-style: solid;
    border-radius: 5px;
    animation: drop 1.5s ease 2.1s;
    animation-fill-mode: backwards;
    transition: 0.5s;
}

.ctaselect:hover {
    color: #fc2c2c;
    background:transparent;
    border-color: #fc2c2c;
}

.cover {
flex: 1;
}

.cover img {
    height: auto;
    max-width: 50vh;
    animation: drop 2s ease 2s;
    animation-fill-mode: backwards;
    filter: drop-shadow(0px 15px 10px black);
}

/* end of home page */

/* About us */

.jobpresentation {
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    font-size: 25px;
    color: white;
    flex: 1;
    display: flex;
}

.jobpresentation h1 {
    margin-top: 50px;
    margin-left: 25px;
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(to top, #691d1d, #fc2c2c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    animation: drop 1s ease;
}

.jobpresentation h5 {
    margin-top: 0px;
    margin-left: 25px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(to top, #2c2f3d, #adc3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    animation: drop 1s ease;
}


.jobpresentation p {
    margin-top: 25px;
    margin-left: 25px;
    font-weight: 300;
    background: linear-gradient(to top, #cacaca, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: drop 1s ease 1s;
    animation-fill-mode: backwards;
}

.departmenttext h1 {
    margin-top: 500px;
    font-size: 80px;
text-align: center;
}

    .start-desc-text {
        margin-top: 200px;
    }
    
    .mid-desc-text {
        margin-top: 500px;
    }

.deb-desc-text {
    margin-top: 1000px;
    text-align: center;
}

.emoticon {
   font-size: 150px;
   margin-top: 1500px;
}

.deb-desc-text p {
    font-size: 50px;
    margin-top: 1500px;
}
    
.personimage img {
    flex: 1;
    height: auto;
    max-width: 75vh;
    animation: drop 2s ease 2s;
    animation-fill-mode: backwards;
    filter: drop-shadow(0px 15px 10px black);
    align-content: center;
}


.leftfullimage{
    float: left;
}

.rightfullimage {
    float: right;
}

.debfullimage {
display: block;
align-content: space-around;
margin-left: auto;
margin-right: auto;
margin-top: 1000px;
width: 50%;
}

/* end of about us page */

/* our projects */

.ctahome {
    margin: 25px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    flex: 1;
    color: #fc2c2c;
    background:transparent;
    border: 2px solid #fc2c2c;
    border-radius: 5px;
    animation: drop 1.5s ease 2.4s;
    animation-fill-mode: backwards;
    transition: 0.5s;
}

.ctahome:hover {
    color: #141414;
    background:#fc2c2c;
    border-color: transparent;
}

.projectbg {
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.projectbg img {
    position: absolute;
    filter: brightness(40%);
}

/* misc */

.greenspangradient {
    background: linear-gradient(to left, #218332, #2cfc4f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .bluespangradient {
    background: linear-gradient(to left, #232183, #2c6efc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .debspangradient {
    background: linear-gradient(to right, #2b29c7, #caa34e, #fc2c2c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .RightSideTextBlack {
     margin-left: 500px;
    font-weight: 900;
    font-size: 300px;
    background: linear-gradient(to right, #cacaca, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    animation: drop 1s ease;
}

 .blackweightfont {
     font-weight: 900;
     font-size: 150px;
 }

 /*end of misc */
    

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(80px);
        filter: blur(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px); 
        filter: blur(0px)
    }
}

@media screen and (max-width: 1024px) {
.presentation {
    flex-direction: column;
}
.introduction {
    margin: 10vh;
    text-align: center;
}
.intro-text h1 {
    font-size: 30px;

}
.intro-text p {
    font-size: 10px;
}
}