/* main page settings: header, body, etc. */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /*background: #141414 */
    background: #ffffff
}

header, main {
    margin: 4px auto 0 auto;
    width: 1270px;
}


div {
    display: block;
}

button {
    font-family: Arial, sans-serif;
}


.logo-container {
    font-size: 2vh;
    font-weight: 600;
    width: 150px;
}

.topbardiv {
    align-content: center;
    display: flex;
}

.topbar {
    width: 1260px;
    height: 37px;
    background: transparent url(./img/topbar.png);
}

.topbarleft {
    display: block;
    float: left;
    width: 4px;
    height: 37px;
    background: transparent url(/img/topbarleft.png) no-repeat
}

.topbarright {
    display: block;
    float: right;
    width: 5px;
    height: 37px;
    background: transparent url(/img/topbarright.png) no-repeat
}

.signupbtn {
    justify-content: center;
    float: right;
    margin: 6px 1px 0 0;
}

.signupcenter {
    font-size: 17px;
    color:dodgerblue;
    width: 100px;
    height: 19px;
    background: transparent url(./img/signupbtn.png) repeat-x;
}

.signupleft {
    display: block;
    float: left;
    width: 5px;
    height: 19px;
    background: transparent url(/img/signupbtnleft.png) no-repeat
}

.signupright {
    display: block;
    float: right;
    width: 5px;
    height: 19px;
    background: transparent url(/img/signupbtnright.png) no-repeat
}

.loginbtn {
    justify-content: center;
    float: right;
    margin: 6px 1px 0 0;
}

.logincenter {
    font-size: 17px;
    color:rgb(30, 255, 105);
    width: 100px;
    height: 19px;
    background: transparent url(./img/loginbtn.png) repeat-x;
}

.loginleft {
    display: block;
    float: left;
    width: 5px;
    height: 19px;
    background: transparent url(/img/loginbtnleft.png) no-repeat
}

.loginright {
    display: block;
    float: right;
    width: 5px;
    height: 19px;
    background: transparent url(/img/loginbtnright.png) no-repeat
}

.nav {
    margin: 0 2px;
    padding: 0;
    display: flex;
    list-style:none;  
    height: 28px;
   /* background: linear-gradient(to bottom, #e6e6e6, #9c9c9c); */
    flex: 1;
    margin-left: 25px;
    margin-top: 10px;
}

.navtab {
    display: block;
    float: left;
    width: 124px;
    background: transparent url(./img/Tab.png) no-repeat scroll;
    margin-left: 75px;
    align-items: center;
    text-align: center;
}
  
.nav-link {
   /* color: white;*/
   color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    width: 114px;
    height: 22px;
    text-align: center;
    padding: 6px 0 0 0;
}

.leftspan {
    display: block;
    float: left;
    width: 5px;
    height: 28px;
    background: transparent url(/img/TabLeft.png) no-repeat
}

.rightspan {
    display: block;
    float: right;
    width: 5px;
    height: 28px;
    background: transparent url(/img/TabRight.png) no-repeat
} 


/* end of main page settings */

/* Home */

.centerdiv {
    align-content: center;
    text-align: center;
}

.welcomeH1 {
    margin: 25px auto 0 auto;
}

.newsdiv {
    margin: 25px auto 0 25px;
    border-bottom: 1px solid grey
}

.newsframe {
    width: 860px;
    height: 480px;
    background:rgb(0, 0, 0) url(./img/dhscreenshot.png) no-repeat scroll -660px -360px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.titlediv {
    width: 100%;
    height: 70px;
    background:rgb(0, 0, 0, 0.5);
    transform: translateY(410px);
    display: flex;
}

.titlediv h1 {
    color: white;
    margin-left: 25px;
}

.titlediv h5 {
    color: white;
    margin-left: 25px;
}

.line {
    width: auto;
    height: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: grey
}

.readmorediv {
    margin-right: 15px;
    margin-left: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

.readmore {
    width: 100px;
    height: 37px;
    background: transparent url(./img/barred.png);
    font-weight: bold;
    padding: 10px 0 0 0;
    text-align: center;
    color: rgb(82, 19, 19);
}

.readmoreleft {
    display: block;
    float: left;
    width: 4px;
    height: 37px;
    background: transparent url(/img/barredleftpng.png) no-repeat;
    margin-left: -4px;
}

.readmoreright {
    display: block;
    float: right;
    width: 5px;
    height: 37px;
    margin-right: -5px;
    margin-top: -37px;
    background: transparent url(/img/barredright.png) no-repeat
}