/* main page settings: header, body, etc. */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #141414
}

header {
    margin: auto;
    display: flex;
    max-height: 10vh;
    width: 100%;
    align-items: center;
    background: linear-gradient(to left, #00000000, #fc2c2c);
}

button {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.logo-container, .nav-links {
    display: flex;
}

.logo-container {
    font-size: 2vh;
    font-weight: 600;
    max-width: 50px;
    max-height: auto;
    flex: 1;
    align-items: center;
    color: white;
}


nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;  
}

.nav-link {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

/* end of main page settings */

/* Home */

.presentation {
    justify-content: center;
    font-size: 25px;
    color: white;
}

.presentation h1 {
    position: absolute;
    margin-top: 25%;
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(to top, #464646, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    animation: drop 1s ease;
    z-index: 2;
}


.presentation p {
    position: absolute;
    margin-top: 30%;
    font-weight: 300;
    background: linear-gradient(to top, #cacaca, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: drop 1s ease 1s;
    animation-fill-mode: backwards;
    z-index: 2;
}

.intro {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
}

.dhbg  {
    filter: brightness(40%);
    min-width: 100%;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

.dhbg img {
    min-width: 1920px;
    min-height: 1080px; 
}

.dhlogo {
	left: 50%;
	transform: translate(-50%, 0%);
position: absolute;
width: 80%;
z-index: 2;
}

.yearannlogo {
    margin-top: 2%;
    position: absolute;
    width: 60%;
    z-index: 1;
 } 
 
.cta {
    margin-top: 40%;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    z-index: 3;
}

.cta button {
    cursor: pointer;
}

.ctaread {
    width: 150px;
    height: 50px;
    font-size: 15px;
    flex: 1;
    color: #ffffff;
    background:transparent;
    border: 2px solid #fc2c2c;
    border-radius: 5px;
    animation: drop 1.5s ease 2.4s;
    animation-fill-mode: backwards;
    transition: 0.5s;
}

.ctaread:hover {
    color: #141414;
    background:#fc2c2c;
    border-color: transparent;
}

.ctaselect {
    margin: 20px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    flex: 1;
    color: #141414;
    background:#fc2c2c;
    border-color: transparent;
    border-style: solid;
    border-radius: 5px;
    animation: drop 1.5s ease 2.1s;
    animation-fill-mode: backwards;
    transition: 0.5s;
}

.ctaselect:hover {
    color: #fc2c2c;
    background:transparent;
    border-color: #fc2c2c;
}

.cover {
flex: 1;
}

.cover img {
    height: auto;
    max-width: 50vh;
    animation: drop 2s ease 2s;
    animation-fill-mode: backwards;
    filter: drop-shadow(0px 15px 10px black);
}

/* end of home page */

/* countdown */

#demotimer {
    margin-top: 25%;
    font-size: 150px;
    font-weight: 600;
    background: linear-gradient(to top, #4e234b, #9c5c94);
    text-decoration: underline;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    animation: drop 1s ease;
    z-index: 2;
}


/* About us */


.departmenttext h1 {
    position: relative;
    margin-top: 100px;
    font-size: 80px;
text-align: center;
}

.start-desc-text {
        position: relative;
        margin-top: 100px;
    }
    
    .mid-desc-text {
        position: relative;
        margin-top: 500px;
    }

.deb-desc-text {
    margin-top: 1000px;
    text-align: center;
}

.emoticon {
   font-size: 150px;
   margin-top: 1500px;
}

.deb-desc-text p {
    font-size: 50px;
    margin-top: 1500px;
}
    
.personimage img {
    flex: 1;
    height: auto;
    max-width: 75vh;
    animation: drop 2s ease 2s;
    animation-fill-mode: backwards;
    filter: drop-shadow(0px 15px 10px black);
    align-content: center;
}


.leftfullimage{
    float: left;
}

.rightfullimage {
    float: right;
}

.debfullimage {
display: block;
align-content: space-around;
margin-left: auto;
margin-right: auto;
margin-top: 1000px;
width: 50%;
}

/* end of about us page */

/* our projects */

.ctahome {
    margin-top: 35%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 3;
}

.ctahomebutton {
    margin: 25px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    flex: 1;
    color: #fc2c2c;
    background:transparent;
    border: 2px solid #fc2c2c;
    border-radius: 5px;
    animation: drop 1.5s ease 2.4s;
    animation-fill-mode: backwards;
    transition: 0.5s;
}

.ctahomebutton:hover {
    color: #141414;
    background:#fc2c2c;
    border-color: transparent;
}

.projectbg {
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.projectbg img {
    position: absolute;
    filter: brightness(40%);
}

/* misc */

.greenspangradient {
    background: linear-gradient(to left, #218332, #2cfc4f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .bluespangradient {
    background: linear-gradient(to left, #232183, #2c6efc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .debspangradient {
    background: linear-gradient(to right, #2b29c7, #caa34e, #fc2c2c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 #bigquestion { 
     margin-top: 5%;
    font-weight: 900;
    font-size: 200px;
}

 .blackweightfont {
     font-weight: 900;
     font-size: 150px;
 }

 /*end of misc */
    

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(80px);
        filter: blur(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px); 
        filter: blur(0px)
    }
}

@media screen and (max-width: 1024px) {
.presentation {
    flex-direction: column;
}
.introduction {
    margin: 10vh;
    text-align: center;
}
.intro-text h1 {
    font-size: 30px;

}
.intro-text p {
    font-size: 10px;
}
}